<div class="fl-module fl-module-heading fl-node-58610739ac2ec contact-heading" data-node="58610739ac2ec">
  <div class="fl-module-content fl-node-content">
    <h1 class="fl-heading">
      <span class="fl-heading-text">We'd Love to Hear From You</span>
    </h1>
  </div>
</div>
<div class="fl-module fl-module-separator fl-node-58610d05e5e55" data-node="58610d05e5e55">
  <div class="fl-module-content fl-node-content">
    <div class="fl-separator"></div>
  </div>
</div>
<div class="fl-module fl-module-rich-text fl-node-5861198ac1b3d" data-node="5861198ac1b3d">
  <div class="fl-module-content fl-node-content">
    <div class="fl-rich-text">
      <p>Please fill out this simple form and a team member will contact you as soon as possible. Or you
        can call <strong> <span class="call-num" style="color: #64A351;">(530) 889-8780.</span></strong>
      </p>
      <p>*We will do our best to protect your confidentiality, but please keep in mind that
        communications via email over the internet are not SSL secure.</p>
    </div>
  </div>
</div>
<div class="fl-module fl-module-rich-text fl-node-5861077f01bc5" data-node="5861077f01bc5">
  <div class="fl-module-content fl-node-content">
    <div class="fl-rich-text">
      <p>
      </p>
      <div class="gf_browser_chrome gform_wrapper" id="gform_wrapper_1">
        <form method="post" id="contact-form" action="/success.html">
          <div class="gform_body">
            <input type="hidden" name="_to" value="neileon81@gmail.com">
            <input type="hidden" name="_cc" value="neileon81@gmail.com">
            <input type="hidden" name="subject" value="Contact - Beautiful Minds Medical">
            <input type="hidden" name="_hook"
              value="https://hooks.zapier.com/hooks/catch/5745749/o2u1xbd,o244tn2">
            <input id="dtfield" type="hidden" name="datetime" value="">
            <ul id="gform_fields_1" class="gform_fields top_label form_sublabel_below description_below">
              <li id="field_1_1"
                class="gfield gf_left_half gfield_contains_required field_sublabel_below field_description_below gfield_visibility_visible">
                <label class="gfield_label" for="input_1_1">Name<span
                    class="gfield_required">*</span></label>
                <div class="ginput_container ginput_container_text"><input name="name" id="input_1_1"
                    type="text" value="" class="medium" aria-required="true" aria-invalid="false"></div>
              </li>
              <li id="field_1_2"
                class="gfield gf_right_half gfield_contains_required field_sublabel_below field_description_below gfield_visibility_visible">
                <label class="gfield_label" for="input_1_2">Email<span
                    class="gfield_required">*</span></label>
                <div class="ginput_container ginput_container_email">
                  <!-- <input name="_replyto" id="input_1_2" type="text" value="" class="medium"
                      aria-required="true" aria-invalid="false"></div> -->
                  <input name="email" id="input_1_2" type="text" value="" class="medium"
                    aria-required="true" aria-invalid="false"></div>
              </li>
              <li id="field_1_5"
                class="gfield gfield_contains_required field_sublabel_below field_description_below gfield_visibility_visible">
                <label class="gfield_label" for="input_1_5">Message<span
                    class="gfield_required">*</span></label>
                <div class="ginput_container ginput_container_textarea"><textarea name="message"
                    id="input_1_5" class="textarea medium" aria-required="true" aria-invalid="false"
                    rows="10" cols="50"></textarea></div>
              </li>
              <!-- <li id="field_1_6"
                  class="gfield field_sublabel_below field_description_below gfield_visibility_visible">
                  <label class="gfield_label" for="input_1_6"></label>
                  <div id="input_1_6" class="ginput_container ginput_recaptcha"
                    data-sitekey="6LcB0Q8UAAAAAMLW5V8uSJl_Szin1C8Jp_GRgzMR" data-theme="light"
                    data-tabindex="0" data-badge=""></div>
                </li> -->
              <li class="gfield field_sublabel_below field_description_below gfield_visibility_visible">
                <input type="text" name="_gotcha" style="display: none;">
              </li>
            </ul>
          </div>
          <!-- <div class="gform_footer top_label"> 
              <input type="submit" id="gform_submit_button_1"
                class="gform_button button" value="Get in Touch" tabindex="1"
                onclick='if(window["gf_submitting_1"]){return false;}  window["gf_submitting_1"]=true;  '
                onkeypress='if( event.keyCode == 13 ){ if(window["gf_submitting_1"]){return false;} window["gf_submitting_1"]=true;  jQuery("#gform_1").trigger("submit",[true]); }'><input
                type="hidden" class="gform_hidden" name="is_submit_1" value="1"><input type="hidden"
                class="gform_hidden" name="gform_submit" value="1"><input type="hidden"
                class="gform_hidden" name="gform_unique_id" value=""><input type="hidden"
                class="gform_hidden" name="state_1"
                value="WyJbXSIsImU5ODBiMjViOGRjNDJkZThhNDBkNjE2YTBiNjQxYWZjIl0="><input type="hidden"
                class="gform_hidden" name="gform_target_page_number_1" id="gform_target_page_number_1"
                value="0"><input type="hidden" class="gform_hidden" name="gform_source_page_number_1"
                id="gform_source_page_number_1" value="1"><input type="hidden" name="gform_field_values"
                value="">
            </div> -->
          <div class="g-recaptcha" data-sitekey="6Lfq_7kUAAAAAG3N9zmO7R9yBdkRQNJF-KLnbNDl"></div>
          <script>
            function setData(e) {
              document.getElementById("dtfield").value = new Date();
            }
          </script>
          <div class="gform_footer top_label">
            <input onclick="setData(event)" type="submit" class="gform_button button" value="Get in Touch"
              tabindex="1">
          </div>
        </form>
      </div>
      <script type="text/javascript">
        jQuery(document).bind('gform_post_render', function (event, formId, currentPage) {
          if (formId == 1) {}
        });
        jQuery(document).bind('gform_post_conditional_logic', function (event, formId, fields, isInit) {});
      </script>
      <script type="text/javascript">
        jQuery(document).ready(function () {
          jQuery(document).trigger('gform_post_render', [1, 1])
        });
      </script>
    </div>
  </div>
</div>