<div class="fl-module fl-module-heading fl-node-59b77da51de79" data-node="59b77da51de79">
  <div class="fl-module-content fl-node-content">
    <h1 class="fl-heading">
      <span class="fl-heading-text">New Patient Questionnaire</span>
    </h1>
  </div>
</div>
<div class="fl-module fl-module-separator fl-node-59b7928ccc7d6" data-node="59b7928ccc7d6">
  <div class="fl-module-content fl-node-content">
    <div class="fl-separator"></div>
  </div>
</div>
<div class="fl-module fl-module-rich-text fl-node-59b77da51de3e" data-node="59b77da51de3e">
  <div class="fl-module-content fl-node-content">
    <div class="fl-rich-text">
      <p>
      </p>
      <div class="gf_browser_unknown gform_wrapper" id="gform_wrapper_2" style="display:none">
        <!-- <form method="post" enctype="multipart/form-data" id="gform_2"
            action="/for-patients/new-patient-questionnaire"> -->
        <form method="post" id="question-form" action="/success.html">
          <div class="gform_body">
            <input type="hidden" name="_to" value="neileon81@gmail.com">
            <input type="hidden" name="_cc" value="neileon81@gmail.com">
            <input type="hidden" name="subject"
              value="Intake Screening Questonnaire - Beautiful Minds Medical">
            <input type="hidden" name="_hook"
              value="https://hooks.zapier.com/hooks/catch/5745749/o24iles,o24fifd">
            <input id="dtfield" type="hidden" name="datetime" value="">
            <ul id="gform_fields_2" class="gform_fields top_label form_sublabel_below description_below">
              <li id="field_2_1"
                class="gfield gf_left_half gfield_contains_required field_sublabel_below field_description_below gfield_visibility_visible">
                <label class="gfield_label" for="input_2_1">Name<span
                    class="gfield_required">*</span></label>
                <div class="ginput_container ginput_container_text"><input name="name" id="input_2_1"
                    type="text" value="" class="medium" aria-required="true" aria-invalid="false"></div>
              </li>
              <li id="field_2_3"
                class="gfield gf_right_half gfield_contains_required field_sublabel_below field_description_below gfield_visibility_visible">
                <label class="gfield_label" for="input_2_3">Email<span
                    class="gfield_required">*</span></label>
                <div class="ginput_container ginput_container_email">
                  <input name="email" id="input_2_3" type="text" value="" class="medium"
                    aria-required="true" aria-invalid="false"></div>
              </li>
              <li id="field_2_4"
                class="gfield gfield_contains_required field_sublabel_below field_description_below gfield_visibility_visible">
                <label class="gfield_label" for="input_2_4">Phone<span
                    class="gfield_required">*</span></label>
                <div class="ginput_container ginput_container_phone"><input name="phone" id="input_2_4"
                    type="text" value="" class="medium" aria-required="true" aria-invalid="false"></div>
              </li>
              <li id="field_2_2"
                class="gfield gfield_contains_required field_sublabel_below field_description_below gfield_visibility_visible gsurvey-survey-field ">
                <label class="gfield_label">What are your primary reasons for seeking help?<span
                    class="gfield_required">*</span></label>
                <div class="ginput_container ginput_container_checkbox">
                  <ul class="gfield_checkbox" id="input_2_2">
                    <li class="gchoice_2_2_1">
                      <input name="anxiety" type="checkbox" value="true" id="choice_2_2_1"><label
                        for="choice_2_2_1" id="label_2_2_1">anxiety</label>
                    </li>
                    <li class="gchoice_2_2_2">
                      <input name="depression" type="checkbox" value="true" id="choice_2_2_2"><label
                        for="choice_2_2_2" id="label_2_2_2">depression</label>
                    </li>
                    <li class="gchoice_2_2_3">
                      <input name="mood_swings" type="checkbox" value="true" id="choice_2_2_3"><label
                        for="choice_2_2_3" id="label_2_2_3">mood swings</label>
                    </li>
                    <li class="gchoice_2_2_4">
                      <input name="concentration" type="checkbox" value="true" id="choice_2_2_4"><label
                        for="choice_2_2_4" id="label_2_2_4">concentration
                        problems</label>
                    </li>
                    <li class="gchoice_2_2_5">
                      <input name="anger" type="checkbox" value="true" id="choice_2_2_5"><label
                        for="choice_2_2_5" id="label_2_2_5">anger</label>
                    </li>
                    <li class="gchoice_2_2_6">
                      <input name="trauma" type="checkbox" value="true" id="choice_2_2_6"><label
                        for="choice_2_2_6" id="label_2_2_6">past history of
                        traumatic events (emotional, verbal, sexual, physical abuse)</label>
                    </li>
                    <li class="gchoice_2_2_7">
                      <input name="other" type="checkbox" value="true" id="choice_2_2_7"><label
                        for="choice_2_2_7" id="label_2_2_7">other</label>
                    </li>
                  </ul>
                </div>
              </li>
              <li id="field_2_5"
                class="gfield field_sublabel_below field_description_below gfield_visibility_visible gsurvey-survey-field ">
                <label class="gfield_label">Hallucinations?</label>
                <div class="ginput_container ginput_container_checkbox">
                  <ul class="gfield_checkbox" id="input_2_5">
                    <li class="gchoice_2_5_1">
                      <input name="hallucinations" type="checkbox" value="true" id="choice_2_5_1"><label
                        for="choice_2_5_1" id="label_2_5_1">Yes</label>
                    </li>
                  </ul>
                </div>
              </li>
              <li id="field_2_6"
                class="myinline-form gfield gfield_contains_required field_sublabel_below field_description_below gfield_visibility_visible gsurvey-survey-field ">
                <label class="gfield_label">How long have you been dealing with this problem?<span
                    class="gfield_required">*</span></label>
                <div class="ginput_container ginput_container_radio">
                  <ul class="gfield_radio" id="input_2_6">
                    <li class="gchoice_2_6_0"><input name="problem_duration" type="radio" value="days"
                        id="choice_2_6_0"><label for="choice_2_6_0" id="label_2_6_0">Days</label></li>
                    <li class="gchoice_2_6_1"><input name="problem_duration" type="radio" value="weeks"
                        id="choice_2_6_1"><label for="choice_2_6_1" id="label_2_6_1">Weeks</label></li>
                    <li class="gchoice_2_6_2"><input name="problem_duration" type="radio" value="months"
                        id="choice_2_6_2"><label for="choice_2_6_2" id="label_2_6_2">Months</label></li>
                    <li class="gchoice_2_6_3"><input name="problem_duration" type="radio" value="years"
                        id="choice_2_6_3"><label for="choice_2_6_3" id="label_2_6_3">Years</label></li>
                  </ul>
                </div>
              </li>
              <li id="field_2_7"
                class="gfield field_sublabel_below field_description_below gfield_visibility_visible gsurvey-survey-field ">
                <label class="gfield_label">Have you been receiving treatment for these mental health
                  issues?</label>
                <div class="ginput_container ginput_container_checkbox">
                  <ul class="gfield_checkbox" id="input_2_7">
                    <li class="gchoice_2_7_1">
                      <input name="treatment" type="checkbox" value="yes" id="choice_2_7_1"><label
                        for="choice_2_7_1" id="label_2_7_1">Yes</label>
                    </li>
                  </ul>
                </div>
              </li>
              <li id="field_2_8"
                class="myinline-form gfield field_sublabel_below field_description_below gfield_visibility_visible gsurvey-survey-field ">
                <label class="gfield_label">Are you currently seeing a mental health professional for
                  this problem?</label>
                <div class="ginput_container ginput_container_checkbox">
                  <ul class="gfield_checkbox" id="input_2_8">
                    <li class="gchoice_2_8_1">
                      <input name="psychiatrist" type="checkbox" value="yes" id="choice_2_8_1"><label
                        for="choice_2_8_1" id="label_2_8_1">Psychiatrist</label>
                    </li>
                    <li class="gchoice_2_8_2">
                      <input name="counselor" type="checkbox" value="yes" id="choice_2_8_2"><label
                        for="choice_2_8_2" id="label_2_8_2">Counselor</label>
                    </li>
                  </ul>
                </div>
              </li>
              <li id="field_2_9"
                class="myinline-form gfield field_sublabel_below field_description_below gfield_visibility_visible gsurvey-survey-field ">
                <label class="gfield_label">How long have you been receiving treatment?</label>
                <div class="ginput_container ginput_container_radio">
                  <ul class="gfield_radio" id="input_2_9">
                    <li class="gchoice_2_9_0"><input name="treatment_duration" type="radio" value="days"
                        id="choice_2_9_0"><label for="choice_2_9_0" id="label_2_9_0">Days</label></li>
                    <li class="gchoice_2_9_1"><input name="treatment_duration" type="radio" value="weeks"
                        id="choice_2_9_1"><label for="choice_2_9_1" id="label_2_9_1">Weeks</label></li>
                    <li class="gchoice_2_9_2"><input name="treatment_duration" type="radio" value="months"
                        id="choice_2_9_2"><label for="choice_2_9_2" id="label_2_9_2">Months</label></li>
                    <li class="gchoice_2_9_3"><input name="treatment_duration" type="radio" value="years"
                        id="choice_2_9_3"><label for="choice_2_9_3" id="label_2_9_3">Years</label></li>
                  </ul>
                </div>
              </li>
              <li id="field_2_10"
                class="gfield field_sublabel_below field_description_below gfield_visibility_visible gsurvey-survey-field ">
                <label class="gfield_label">Are you on psychiatric medication?</label>
                <div class="ginput_container ginput_container_checkbox">
                  <ul class="gfield_checkbox" id="input_2_10">
                    <li class="gchoice_2_10_1">
                      <input name="medication" type="checkbox" value="yes" id="choice_2_10_1"><label
                        for="choice_2_10_1" id="label_2_10_1">Yes</label>
                    </li>
                  </ul>
                </div>
              </li>
              <li id="field_2_11"
                class="gfield field_sublabel_below field_description_below gfield_visibility_visible gsurvey-survey-field ">
                <label class="gfield_label">Have you been hospitalized?</label>
                <div class="ginput_container ginput_container_checkbox">
                  <ul class="gfield_checkbox" id="input_2_11">
                    <li class="gchoice_2_11_1">
                      <input onclick="showhide(this,'field_2_12_')" name="hospitalized" type="checkbox" value="yes" id="choice_2_11_1"><label
                        for="choice_2_11_1" id="label_2_11_1">Yes</label>
                    </li>
                  </ul>
                </div>
              </li>
              <li id="field_2_12_"
                class="is-hidden gfield field_sublabel_below field_description_below gfield_visibility_visible gsurvey-survey-field ">
                <label class="gfield_label" for="input_2_12">…if so when was the last
                  hospitalization?</label>
                <div class="ginput_container ginput_container_text"><input name="last_hospitalization"
                    id="input_2_12" type="text" value="" class="large" aria-invalid="false"></div>
              </li>
              <li id="field_2_13"
                class="gfield field_sublabel_below field_description_below gfield_visibility_visible gsurvey-survey-field ">
                <label class="gfield_label">Do you use any substances?</label>
                <div class="ginput_container ginput_container_checkbox">
                  <ul class="gfield_checkbox" id="input_2_13">
                    <li class="gchoice_2_13_1">
                      <input name="substance" type="checkbox" value="yes" id="choice_2_13_1"><label
                        for="choice_2_13_1" id="label_2_13_1">Yes</label>
                    </li>
                  </ul>
                </div>
              </li>
              <li id="field_2_14"
                class="gfield field_sublabel_below field_description_below gfield_visibility_visible gsurvey-survey-field ">
                <label class="gfield_label">Alcohol?</label>
                <div class="ginput_container ginput_container_checkbox">
                  <ul class="gfield_checkbox" id="input_2_14">
                    <li class="gchoice_2_14_1">
                      <input onclick="showhide(this,'field_2_15_')" name="alcohol" type="checkbox" value="yes" id="choice_2_14_1"><label
                        for="choice_2_14_1" id="label_2_14_1">Yes</label>
                    </li>
                  </ul>
                </div>
              </li>
              <li id="field_2_15_"
                class="is-hidden gfield field_sublabel_below field_description_below gfield_visibility_visible gsurvey-survey-field ">
                <label class="gfield_label" for="input_2_15">How much per day?</label>
                <div class="ginput_container ginput_container_text"><input name="alchohol_intake"
                    id="input_2_15" type="text" value="" class="large" aria-invalid="false"></div>
              </li>
              <li id="field_2_16_"
                class="gfield field_sublabel_below field_description_below gfield_visibility_visible gsurvey-survey-field ">
                <label class="gfield_label">Drugs?</label>
                <div class="ginput_container ginput_container_checkbox">
                  <ul class="gfield_checkbox" id="input_2_16">
                    <li class="gchoice_2_16_1">
                      <input onclick="showhide(this,'field_2_17_')" name="drugs" type="checkbox" value="yes" id="choice_2_16_1"><label
                        for="choice_2_16_1" id="label_2_16_1">Yes</label>
                    </li>
                  </ul>
                </div>
              </li>
              <li id="field_2_17_"
                class="is-hidden gfield field_sublabel_below field_description_below gfield_visibility_visible gsurvey-survey-field ">
                <label class="gfield_label" for="input_2_17">How often?</label>
                <div class="ginput_container ginput_container_text"><input name="drug_intake"
                    id="input_2_17" type="text" value="" class="large" aria-invalid="false"></div>
              </li>
              <li id="field_2_19"
                class="myinline-form gfield gfield_contains_required field_sublabel_below field_description_below gfield_visibility_visible gsurvey-survey-field ">
                <label class="gfield_label">How severe on a scale of one to 10 do you feel your symptoms
                  are?<span class="gfield_required">*</span></label>
                <div class="ginput_container ginput_container_radio">
                  <ul class="gfield_radio" id="input_2_19">
                    <li class="gchoice_2_19_0"><input name="severity" type="radio" value="1"
                        id="choice_2_19_0"><label for="choice_2_19_0" id="label_2_19_0">1</label></li>
                    <li class="gchoice_2_19_1"><input name="severity" type="radio" value="2"
                        id="choice_2_19_1"><label for="choice_2_19_1" id="label_2_19_1">2</label></li>
                    <li class="gchoice_2_19_2"><input name="severity" type="radio" value="3"
                        id="choice_2_19_2"><label for="choice_2_19_2" id="label_2_19_2">3</label></li>
                    <li class="gchoice_2_19_3"><input name="severity" type="radio" value="4"
                        id="choice_2_19_3"><label for="choice_2_19_3" id="label_2_19_3">4</label></li>
                    <li class="gchoice_2_19_4"><input name="severity" type="radio" value="5"
                        id="choice_2_19_4"><label for="choice_2_19_4" id="label_2_19_4">5</label></li>
                    <li class="gchoice_2_19_5"><input name="severity" type="radio" value="6"
                        id="choice_2_19_5"><label for="choice_2_19_5" id="label_2_19_5">6</label></li>
                    <li class="gchoice_2_19_6"><input name="severity" type="radio" value="7"
                        id="choice_2_19_6"><label for="choice_2_19_6" id="label_2_19_6">7</label></li>
                    <li class="gchoice_2_19_7"><input name="severity" type="radio" value="8"
                        id="choice_2_19_7"><label for="choice_2_19_7" id="label_2_19_7">8</label></li>
                    <li class="gchoice_2_19_8"><input name="severity" type="radio" value="9"
                        id="choice_2_19_8"><label for="choice_2_19_8" id="label_2_19_8">9</label></li>
                    <li class="gchoice_2_19_9"><input name="severity" type="radio" value="10"
                        id="choice_2_19_9"><label for="choice_2_19_9" id="label_2_19_9">10</label></li>
                  </ul>
                </div>
              </li>
              <li id="field_2_20"
                class="gfield field_sublabel_below field_description_below gfield_visibility_visible gsurvey-survey-field ">
                <label class="gfield_label" for="input_2_20">How do you feel like these symptoms are
                  impairing your life?</label>
                <div class="ginput_container ginput_container_textarea"><textarea name="impairing"
                    id="input_2_20" class="textarea small" aria-invalid="false" rows="10"
                    cols="50"></textarea></div>
              </li>
              <li id="field_2_21"
                class="gfield form-last-field gfield_contains_required field_sublabel_below field_description_below gfield_visibility_visible gsurvey-survey-field ">
                <label class="gfield_label">What areas of your life are being impaired?<span
                    class="gfield_required">*</span></label>
                <div class="ginput_container ginput_container_likert">
                  <table class="gsurvey-likert" id="input_2_21">
                    <thead>
                      <tr>
                        <th scope="col" class="gsurvey-likert-row-label"></th>
                        <th scope="col" class="gsurvey-likert-choice-label">none</th>
                        <th scope="col" class="gsurvey-likert-choice-label">mild</th>
                        <th scope="col" class="gsurvey-likert-choice-label">moderate</th>
                        <th scope="col" class="gsurvey-likert-choice-label">severe</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td data-label="" class="gsurvey-likert-row-label">Work</td>
                        <td data-label="none" class="gsurvey-likert-choice"><input name="work_impair"
                            type="radio" value="none" id="choice_2_21_1_1"></td>
                        <td data-label="mild" class="gsurvey-likert-choice"><input name="work_impair"
                            type="radio" value="mild" id="choice_2_21_1_2"></td>
                        <td data-label="moderate" class="gsurvey-likert-choice"><input name="work_impair"
                            type="radio" value="moderate" id="choice_2_21_1_3"></td>
                        <td data-label="severe" class="gsurvey-likert-choice"><input name="work_impair"
                            type="radio" value="severe" id="choice_2_21_1_4"></td>
                      </tr>
                      <tr>
                        <td data-label="" class="gsurvey-likert-row-label">Family</td>
                        <td data-label="none" class="gsurvey-likert-choice"><input name="family_impair"
                            type="radio" value="none" id="choice_2_21_2_1"></td>
                        <td data-label="mild" class="gsurvey-likert-choice"><input name="family_impair"
                            type="radio" value="mild" id="choice_2_21_2_2"></td>
                        <td data-label="moderate" class="gsurvey-likert-choice"><input
                            name="family_impair" type="radio" value="moderate" id="choice_2_21_2_3">
                        </td>
                        <td data-label="severe" class="gsurvey-likert-choice"><input name="family_impair"
                            type="radio" value="severe" id="choice_2_21_2_4"></td>
                      </tr>
                      <tr>
                        <td data-label="" class="gsurvey-likert-row-label">Social</td>
                        <td data-label="none" class="gsurvey-likert-choice"><input name="social_impair"
                            type="radio" value="none" id="choice_2_21_3_1"></td>
                        <td data-label="mild" class="gsurvey-likert-choice"><input name="social_impair"
                            type="radio" value="mild" id="choice_2_21_3_2"></td>
                        <td data-label="moderate" class="gsurvey-likert-choice"><input
                            name="social_impair" type="radio" value="moderate" id="choice_2_21_3_3">
                        </td>
                        <td data-label="severe" class="gsurvey-likert-choice"><input name="social_impair"
                            type="radio" value="severe" id="choice_2_21_3_4"></td>
                      </tr>
                      <tr>
                        <td data-label="" class="gsurvey-likert-row-label">School</td>
                        <td data-label="none" class="gsurvey-likert-choice"><input name="school_impair"
                            type="radio" value="none" id="choice_2_21_4_1"></td>
                        <td data-label="mild" class="gsurvey-likert-choice"><input name="school_impair"
                            type="radio" value="mild" id="choice_2_21_4_2"></td>
                        <td data-label="moderate" class="gsurvey-likert-choice"><input
                            name="school_impair" type="radio" value="moderate" id="choice_2_21_4_3">
                        </td>
                        <td data-label="severe" class="gsurvey-likert-choice"><input name="school_impair"
                            type="radio" value="severe" id="choice_2_21_4_4"></td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </li>
            </ul>
          </div>
          <!-- <div class="gform_footer top_label"> <input type="submit" id="gform_submit_button_2"
                class="gform_button button" value="Submit"
                onclick='if(window["gf_submitting_2"]){return false;}  window["gf_submitting_2"]=true;  '
                onkeypress='if( event.keyCode == 13 ){ if(window["gf_submitting_2"]){return false;} window["gf_submitting_2"]=true;  jQuery("#gform_2").trigger("submit",[true]); }'><input
                type="hidden" class="gform_hidden" name="is_submit_2" value="1"><input type="hidden"
                class="gform_hidden" name="gform_submit" value="2"><input type="hidden"
                class="gform_hidden" name="gform_unique_id" value=""><input type="hidden"
                class="gform_hidden" name="state_2"
                value="WyJbXSIsImU5ODBiMjViOGRjNDJkZThhNDBkNjE2YTBiNjQxYWZjIl0="><input type="hidden"
                class="gform_hidden" name="gform_target_page_number_2" id="gform_target_page_number_2"
                value="0"><input type="hidden" class="gform_hidden" name="gform_source_page_number_2"
                id="gform_source_page_number_2" value="1"><input type="hidden" name="gform_field_values"
                value="">
            </div> -->
          <input type="text" name="_gotcha" style="display: none;">
          <div class="g-recaptcha" data-sitekey="6Lfq_7kUAAAAAG3N9zmO7R9yBdkRQNJF-KLnbNDl"></div>
          <script>
            function setData(e) {
              document.getElementById("dtfield").value = new Date();
            }
          </script>
          <div class="gform_footer top_label">
            <input onclick="setData(event)" type="submit" class="gform_button button" value="Submit"
              tabindex="1">
          </div>
        </form>
      </div>
      <script type="text/javascript">
        jQuery(document).bind('gform_post_render', function (event, formId, currentPage) {
          if (formId == 2) {
            gf_global["number_formats"][2] = {
              "1": {
                "price": false,
                "value": false
              },
              "3": {
                "price": false,
                "value": false
              },
              "4": {
                "price": false,
                "value": false
              },
              "2": {
                "price": false,
                "value": false
              },
              "5": {
                "price": false,
                "value": false
              },
              "6": {
                "price": false,
                "value": false
              },
              "7": {
                "price": false,
                "value": false
              },
              "8": {
                "price": false,
                "value": false
              },
              "9": {
                "price": false,
                "value": false
              },
              "10": {
                "price": false,
                "value": false
              },
              "11": {
                "price": false,
                "value": false
              },
              "12": {
                "price": false,
                "value": false
              },
              "13": {
                "price": false,
                "value": false
              },
              "14": {
                "price": false,
                "value": false
              },
              "15": {
                "price": false,
                "value": false
              },
              "16": {
                "price": false,
                "value": false
              },
              "17": {
                "price": false,
                "value": false
              },
              "19": {
                "price": false,
                "value": false
              },
              "20": {
                "price": false,
                "value": false
              },
              "21": {
                "price": false,
                "value": false
              }
            };
            if (window['jQuery']) {
              if (!window['gf_form_conditional_logic']) window['gf_form_conditional_logic'] = new Array();
              window['gf_form_conditional_logic'][2] = {
                logic: {
                  12: {
                    "field": {
                      "actionType": "show",
                      "logicType": "all",
                      "rules": [{
                        "fieldId": "11",
                        "operator": "is",
                        "value": "gsurvey11b63fddf8"
                      }]
                    },
                    "nextButton": null,
                    "section": null
                  },
                  15: {
                    "field": {
                      "actionType": "show",
                      "logicType": "all",
                      "rules": [{
                        "fieldId": "14",
                        "operator": "is",
                        "value": "gsurvey1476205791"
                      }]
                    },
                    "nextButton": null,
                    "section": null
                  },
                  16: {
                    "field": {
                      "actionType": "show",
                      "logicType": "all",
                      "rules": [{
                        "fieldId": "1",
                        "operator": "is",
                        "value": ""
                      }]
                    },
                    "nextButton": null,
                    "section": null
                  },
                  17: {
                    "field": {
                      "actionType": "show",
                      "logicType": "all",
                      "rules": [{
                        "fieldId": "16",
                        "operator": "is",
                        "value": "gsurvey1642df23ab"
                      }]
                    },
                    "nextButton": null,
                    "section": null
                  }
                },
                dependents: {
                  12: [12],
                  15: [15],
                  16: [16],
                  17: [17]
                },
                animation: 0,
                defaults: [],
                fields: {
                  "1": [16],
                  "3": [],
                  "4": [],
                  "2": [],
                  "5": [],
                  "6": [],
                  "7": [],
                  "8": [],
                  "9": [],
                  "10": [],
                  "11": [12],
                  "12": [],
                  "13": [],
                  "14": [15],
                  "15": [],
                  "16": [17],
                  "17": [],
                  "19": [],
                  "20": [],
                  "21": []
                }
              };
              if (!window['gf_number_format']) window['gf_number_format'] = 'decimal_dot';
              jQuery(document).ready(function () {
                gf_apply_rules(2, [12, 15, 16, 17], true);
                jQuery('#gform_wrapper_2').show();
                jQuery(document).trigger('gform_post_conditional_logic', [2, null, true]);
              });
            }
            jQuery('#input_2_4').mask('(999) 999-9999').bind('keypress', function (e) {
              if (e.which == 13) {
                jQuery(this).blur();
              }
            });
          }
        });
        jQuery(document).bind('gform_post_conditional_logic', function (event, formId, fields, isInit) {});
      </script>
      <script type="text/javascript">
        jQuery(document).ready(function () {
          jQuery(document).trigger('gform_post_render', [2, 1])
        });
      </script>
    </div>
  </div>
</div>