---
layout: page
title: About Beautiful Minds
theid: 2574
redirect_from:
  - /about/
choose_life:
  - title: Connection
    icon: /wp-includes/images/BM_Iconos/BM_iconos-01.png
    details: |
      We are designed to connect. Purpose and meaning come from connection—not isolation. We offer a space 
      designed to help restore your mental health through the power of interpersonal and spiritual connection.
  - title: Hydration
    icon: /wp-includes/images/BM_Iconos/BM_iconos-02.png
    details: |
      Our bodies are 70% water. Staying hydrated is essential to our brain and overall health. 
      Water can also be applied externally as a therapy (hydrotherapy) to enhance blood circulation 
      and boost the immune system in wonderful ways.
  - title: Optimism
    icon: /wp-includes/images/BM_Iconos/BM_iconos-03.png
    details: |
      A positive outlook is key for good mental health. Positive self-talk and gratitude are two 
      ways we encourage brain plasticity towards renewal and change.
  - title: Oxygen
    icon: /wp-includes/images/BM_Iconos/BM_iconos-04.png
    details: |
      Our most essential resource is air. Proper breathing and pure air are fundamental to our overall 
      health and are more important than food or water. Fresh, clean air surrounds the beautiful natural 
      environment of our offices.
  - title: Self-Control
    icon: /wp-includes/images/BM_Iconos/BM_iconos-05.png
    details: |
      Using good things moderately and avoiding what may be harmful is a wise principle to practice. 
      Having self-control in all things is one belief that ties all the others when we talk lifestyle at Beautiful Minds.
  - title: Exercise
    icon: /wp-includes/images/BM_Iconos/BM_iconos-06.png
    details: |
      Exercise improves the health of body, mind, and spirit multiplying vitality and health. 
      We offer a walking trail at our offices as well as outdoor gym stations for those interested in getting started.
  - title: Light
    icon: /wp-includes/images/BM_Iconos/BM_iconos-07.png
    details: |
      Sunlight is essential for all living beings on the planet and vital for the body’s metabolism and hormonal balance.
  - title: Internal Clock
    icon: /wp-includes/images/BM_Iconos/BM_iconos-08.png
    details: |
      Proper sleep allows the body to restore and renew itself. Many types of rest are important for health, 
      but the sweetest rest follows labor. "Early to bed and early to rise" is a vital principle at Beautiful Minds 
      to help regulate the internal clock for optimal health.
  - title: Food
    icon: /wp-includes/images/BM_Iconos/BM_iconos-09.png
    details: |
      Good nutrition is vital to our health. Whole plant-based foods provide the necessary nutrients for the 
      development and repair of the brain and body to have the energy needed for life.
  - title: Environment
    icon: /wp-includes/images/BM_Iconos/BM_iconos-10.png
    details: |
      Everything around us impacts our well-being. Purity of mind, heart, and body can be achieved through 
      the application of our CHOOSE LIFE© principles.
---

<style>
  .cl_acronym {
    display: grid;
    grid-template-columns: 115px auto;
  }

  .cl_acronym :first-child {
    margin-top: auto;
    margin-bottom: auto;
    margin-right: 20px;
  }

  @media only screen and (max-width: 680px) {
		.cl_acronym {
      grid-template-columns: 75px auto;
    }

    .cl_acronym :first-child {
      margin-right: 10px;
    }
	}

</style>

<div class="fl-builder-content fl-builder-content-2574 fl-builder-content-primary fl-builder-global-templates-locked"
	data-post-id="2574">
	<div class="fl-row fl-row-full-width fl-row-bg-none fl-node-586df2596625c" data-node="586df2596625c">
		<div class="fl-row-content-wrap">
			<div class="fl-row-content fl-row-fixed-width fl-node-content">

				<div class="fl-col-group fl-node-586df25969056" data-node="586df25969056">
					<div class="fl-col fl-node-586df25969243" data-node="586df25969243">
						<div class="fl-col-content fl-node-content">
							<div class="fl-module fl-module-heading fl-node-586df29b17c94" data-node="586df29b17c94">
								<div class="fl-module-content fl-node-content">
									<h1 class="fl-heading">
										<span class="fl-heading-text">Our Philosophy</span>
									</h1>
								</div>
							</div>
							<div class="fl-module fl-module-photo fl-node-5d072892cbf8e" data-node="5d072892cbf8e">
								<div class="fl-module-content fl-node-content">
									<div class="fl-photo fl-photo-align-center" itemscope itemtype="http://schema.org/ImageObject">
										<div class="fl-photo-content fl-photo-img-jpg">
											<img class="fl-photo-img wp-image-2987 size-full"
												src="/uploads/photos/latest/Group-Picture.jpg" alt="Our Treatment Philosophy"
												title="Our Treatment Philosophy" itemprop="image"
												srcset="/uploads/photos/latest/Group-Picture.jpg 790w,/uploads/photos/latest/Group-Picture.jpg 300w,/uploads/photos/latest/Group-Picture.jpg 768w"
												sizes="(max-width: 790px) 100vw, 790px"></div>
									</div>
								</div>
							</div>
							<div class="fl-module fl-module-rich-text fl-node-587de7b5dc61f" data-node="587de7b5dc61f">
								<div class="fl-module-content fl-node-content">
									<div class="fl-rich-text">
										<p>You've been created with a beautiful mind full of infinite potential to feel, know, grieve, grow, and love in a way that's all your own. 
											Sometimes this potential lies dormant, like a seed waiting for spring. But with a little sunshine and rain, the seed will dare to grow – its hidden beauty brought to life. 
											Our goal at Beautiful Minds Medical is to provide the support, instruction, and environment you need to reach your hidden potential.</p>
										<h2>Mission</h2>
										<p>Inspiring and empowering people to unlock their potential through excellence in mental
											healthcare.</p>
										<h2>What Makes Us Unique?</h2>
										<p>At Beautiful Minds we <a class="choose-life-lightbox" title="Choose Life">CHOOSE LIFE</a> and
											all that encompasses the word. We work closely with each person to understand the root cause of
											his/her condition and treat it in combination with proven lifestyle principles in the areas of
											nutrition, exercise, connection, and hope.</p>
                    
                    {% for acr in page.choose_life %}
                      <div class="cl_acronym">
                        <div>
                          <img src="{{acr.icon}}" alt="{{acr.title}}">
                        </div>
                        <div>
                          <h3 class="is-primary">{{acr.title}}</h3>
                          <p>{{acr.details}}</p>
                        </div>
                      </div>
                      <br>
                    {% endfor %}
                    
                    <h2>What to Expect</h2>
										<p>You are a whole person, not a mental illness. Once you seek care at Beautiful Minds, we will
											start with a detailed assessment to better understand your unique story and situation. This will
											help us design an individual treatment plan just for you. Mental health is always influenced by
											physical, psychological, social, and spiritual factors. Our goal is to create a custom-plan that
											will help you enhance each aspect of your health. Don't be discouraged! Mental illness is very
											treatable and sometimes even reversible. We believe in your beautiful mind.</p>
									</div>
								</div>
							</div>
							<div class="fl-module fl-module-modal-popup fl-node-5d43c074b511a" data-node="5d43c074b511a">
								<div class="fl-module-content fl-node-content">
									<div class="uabb-modal-parent-wrapper uabb-module-content uamodal-5d43c074b511a ">
										<div class="uabb-modal uabb-modal-photo uabb-modal-custom uabb-effect-1" id="modal-5d43c074b511a"
											data-content="photo">
											<div class="uabb-content ">
												<span class="uabb-modal-close uabb-close-custom-popup-top-right"><img class="uabb-close-image"
														src="/wp-content/uploads/2019/08/close.png"></span>

												<div class="uabb-modal-text uabb-modal-content-data  fl-clearfix">
													<img src="/wp-content/uploads/2019/08/Choose-Life.jpg"></div>



											</div>
										</div>

										<div class="uabb-overlay"></div>
									</div>

									<div class="uabb-modal-action-wrap">
									</div>
								</div>
							</div>
							<!-- <div class="fl-module fl-module-video fl-node-5be56684460cc" data-node="5be56684460cc">
								<div class="fl-module-content fl-node-content">
									<div class="fl-video fl-wp-video" itemscope itemtype="https://schema.org/VideoObject">
										<meta itemprop="url" content="/wp-content/uploads/2018/11/BMM-Testimonial.mp4">
										<meta itemprop="thumbnail" content="">
										<div style="width: 100px;" class="wp-video">
											<video class="wp-video-shortcode" id="video-2574-1" width="100" height="100" preload="metadata"
												controls="controls">
												<source type="video/mp4" src="/wp-content/uploads/2018/11/BMM-Testimonial.mp4?_=1">
												<source type="video/webm" src="/wp-content/uploads/2018/11/BMM-Testimonial.webm?_=1">
												<a href="/wp-content/uploads/2018/11/BMM-Testimonial.mp4">https://www.beautifulmindsmedical.com/wp-content/uploads/2018/11/BMM-Testimonial.mp4</a>
											</video>
										</div>
									</div>
								</div>
							</div> -->
						</div>
					</div>
					<div class="fl-col fl-node-586df2596928e fl-col-small" data-node="586df2596928e">
						<div class="fl-col-content fl-node-content">
							{% include sidemenu.html %}
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<div id="uabb-js-breakpoint" class="uabb-js-breakpoint" style="display: none;"></div>
<div class="fl-row fl-row-full-width fl-row-bg-photo fl-node-586c9182bed34 get-help-now-section"
	data-node="586c9182bed34">
	<div class="fl-row-content-wrap">
		<div class="fl-row-content fl-row-fixed-width fl-node-content">
			<div class="fl-col-group fl-node-586c9182c7cee" data-node="586c9182c7cee">
				<div class="fl-col fl-node-586c9182c7f56" data-node="586c9182c7f56" style="width: 100%;">
					<div class="fl-col-content fl-node-content">
						<div class="fl-module fl-module-heading fl-node-586c91c9abf7d" data-node="586c91c9abf7d"
							data-animation-delay="0.0">
							<div class="fl-module-content fl-node-content">
								<h2 class="fl-heading">
									<span class="fl-heading-text-light">
										Can Beautiful Minds help you? </span>
								</h2>
							</div>
						</div>
						<div class="fl-module fl-module-rich-text fl-node-586c9241815cc" data-node="586c9241815cc"
							data-animation-delay="0.0">
							<div class="fl-module-content fl-node-content">
								<div class="fl-rich-text">
									<p style="text-align: center;">
										Click the button below to connect with someone on our intake team. Learn more about your options.
									</p>
								</div>
							</div>
						</div>

						<div class="fl-module fl-module-button fl-node-586c92d636b7d" data-node="586c92d636b7d"
							data-animation-delay="0.0">
							<div class="fl-module-content fl-node-content">
								<div class="fl-button-wrap fl-button-width-auto fl-button-center">
									<a href="/contact" target="_self" class="fl-button" role="button">
										<span class="fl-button-text">
											Get Help Now </span>
									</a>
								</div>
							</div>
						</div>

					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<link rel="stylesheet" id="mediaelement-css" href="/wp-includes/js/mediaelement/mediaelementplayer-legacy.min.css" type="text/css" media="all">
<link rel="stylesheet" id="wp-mediaelement-css" href="/wp-includes/js/mediaelement/wp-mediaelement.min.css" type="text/css" media="all">
