<div class="section2">
  <h1>- Wellness Resources -</h1>

  <p>The outbreak of the COVID-19 is impacting us at all levels (mentally, emotionally, socially and spiritually). Fear and anxiety can be overwhelming and cause strong emotions in adults and children. Here are some helpful resources for you to stay connected and informed:</p>

  <!-- Link to open the modal -->
  <!-- <a class="btn bm-btn" href="#ex1" rel="modal:open">Open Modal</a> -->

  <div class="wellness-resources">
    {% assign resources = site.wellness-resources | sort: 'order' %}
    {% for item in resources %}
      <a href="{{item.link}}"
        {% if item.new_tab %}
          target="_blank"
        {% else %}
          rel="modal:open"
        {% endif %}
      >
        <div class="resource-item">
          <div class="item">
            <div class="item-photo">
              <img style="object-fit: cover; height: 160px; width: 100%;" src="{{item.thumb_image}}">
            </div>
            <div class="item-info">
              <div class="title">{{item.title}}</div>
              {% if item.show_caption %}
                <div class="caption">
                  {{ item.caption }}
                </div>
              {% endif %}
            </div>
          </div>
        </div>
      </a>
    {% endfor %}
  </div>
</div>