<div class="section1">
  <h1>- Donate -</h1>

  <p><a target="_blank" href="https://beautifulmindswellness.org/">Beautiful Minds Wellness</a> is a nonprofit organization whose mission is to provide low cost resources to families and those in need of mental health care support in the form of education, support, and financial sponsorship of treatments.</p>

  <p>At this time, mental health needs are continuing and increasing. <a target="_blank" href="https://beautifulmindswellness.org/">Beautiful Minds Wellness</a> needs your support to continue providing whole-person mental health support and services to those most vulnerable.  </p>

  <p>Your donation to <a target="_blank" href="https://beautifulmindswellness.org/">Beautiful Minds Wellness</a> will go directly to:
  </p>
  <ol>
    <li>Help people who don't have financial resources to receive timely mental health care services including Intensive Outpatient Program treatment.
    </li>
    <li>Provide online education, webinars, support groups and other mental health resources to keep our community informed and supported in these times of crisis.</li>
  </ol>

  <br>
  <a class="btn bm-btn" target="_blank" href="https://beautifulmindswellness.org/donate/">Donate</a>
</div>