<script src ="https://hipaa.jotform.com/static/feedback2.js" type="text/javascript"></script><script type="text/javascript">
  var JFL_{{include.link.code}} = new JotformFeedback({
    formId: '{{include.link.code}}',
    base: 'https://hipaa.jotform.com/',
    windowTitle: "{{include.link.title}}",
    background: '#7ed321',
    fontColor: '#FFFFFF',
    type: '1',
    height: 500,
    width: 700,
    openOnLoad: false
  });
</script>
<a style="cursor: pointer;" class="lightbox-{{include.link.code}}">
  Complete Here
</a>